[package]
name = "redirected"
version = "0.4.0"
authors = []
description = "Redirect local traffic somewhere else."
edition = "2018"

[dependencies]
env_logger = { version = "0.6", default-features = false, features = ["humantime"] }
err-derive = "0.1"
futures = "0.1"
http = "0.1"
hyper = "0.12"
log = "0.4"
structopt = { version = "0.2", default-features = false }
tokio = "0.1"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
