[package]
name = "redirected"
version = "0.5.0"
authors = []
description = "Redirect local traffic somewhere else."
edition = "2018"

[dependencies]
env_logger = { version = "0.7", default-features = false, features = ["humantime"] }
futures = "0.1"
http = "0.1"
hyper = "0.12"
hyper-rustls = "0.18"
log = "0.4"
structopt = { version = "0.3", default-features = false }
thiserror = "1.0"
tokio = "0.1"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
